.text-main-title {
  font-family: "Spectral", serif;
  // font-style: italic;
  font-size: 5.5rem;
  color: #fff;
  padding: 1.875rem 0;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: 2px;
  margin: 0;
  display: flex;
}


.text-title {
  font-family: "Spectral", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 3.5rem;
  padding: 1.875rem 0;
  margin: 0;
}

.text-bold {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.text-lighty {
  font-size: 1.07rem;
  font-weight: 200;
  margin-top: 1.875rem !important;
  letter-spacing: 0.6px;
}

.text-article-bold {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
  line-height: 32px;
}

.text-article-link {
  display: flex;
  font-size: 1.35rem;
  justify-content: flex-end;
  line-height: 1rem;
  margin: 0;
  padding: 1.375rem .9375rem;
  color: #111;
  font-weight: 800;
  letter-spacing: .5px;
}
